* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: white;
    color: black;
}

h2 {
    padding: 2rem 0;
    font-size: 2rem;
    color: deepskyblue;
}

.container {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    margin: 0 auto;
}

.center-column-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header {
    padding: 1rem 0;
    font-size: 3rem;
    color: deepskyblue;
    border-bottom: 2px solid deepskyblue;
}

main {
    max-width: 120rem;
    width: 80%;
    margin: 0 auto;
    padding: 3rem 0;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form input {
    padding: 1rem;
    font-size: 2rem;
    border: 2px solid deepskyblue;
    border-radius: 1rem;
}

.form button {
    padding: 1rem;
    font-size: 2rem;
    background-color: deepskyblue;
    color: white;
    border: none;
}

footer {
    padding: 1rem 0;
    font-size: 1.5rem;
    color: deepskyblue;
    border-top: 2px solid deepskyblue;
}